<div class="table">
  <table class="container">
    <tr>
      <th>ID</th>
      <td>{{ dataService.itemDetail.id }}</td>
    </tr>
    <tr>
      <th>User ID</th>
      <td>{{ dataService.itemDetail.userId }}</td>
    </tr>
    <tr>
      <th>Title</th>
      <td>{{ dataService.itemDetail.title }}</td>
    </tr>
    <tr>
      <th>Body</th>
      <td>{{ dataService.itemDetail.body }}</td>
    </tr>

    <tr></tr>

    <button class="btn btn-outline-success" routerLink="/display-all">
      Back
    </button>
  </table>
</div>
